<div class="pers-acc__overlay"></div>
<div class="pers-acc__content">
    <button class="pers-acc__out-bttn">Log out</button>
    <button
    type="button"
    class="pers-acc__close-bttn"
    data-action="close-acc-modal"
    >
</button>
</div>
