<div class="acc-modal__overlay"></div>
<div class="acc-modal__content">
    <form>
        <ul>
            <li>
                <label for="login">Login:</label>
                <input type="text" id="login" name="user_login">
            </li>
            <li>
                <label for="password">Password:</label>
                <input type="password" id="password" name="user_password">
            </li>
        </ul>
        <button type="submit" class="form-bttn"></button>
    </form>
    <button
    type="button"
    class="acc-modal__button"
    data-action="close-acc-modal"
    >
</button>
</div>
