<div class="acc-modal__overlay"></div>
<div class="acc-modal__content">
    <form class="acc-modal__form">
        <ul class="acc-modal__list">
            <li class="acc-modal__item">
                <label class="acc-modal__label" for="login">Login:</label></br>
                <input class="acc-modal__input" type="text" id="login" name="user_login">
            </li>
            <li class="acc-modal__item">
                <label class="acc-modal__label" for="password">Password:</label></br>
                <input class="acc-modal__input" type="password" id="password" name="user_password">
            </li>
        </ul>
        <button class="acc-madal__submit-bttn" type="submit" class="form-bttn">Log in</button>
    </form>
    <button
    type="button"
    class="acc-modal__button"
    data-action="close-acc-modal"
    >
</button>
</div>
