{{! <div class="pers-acc__overlay"></div> }}
<div class='pers-acc__content'>
  <div class='pers-acc__tabs'>
    <div id='pers-acc__content-1'>
      Content 1
    </div>
    <div id='pers-acc__content-2'>
      <p class='pers-acc__favorite-title'>Favorite:</p>
      <div class='pers-acc__favorite-container'>
        <ul class='pers-acc__favorite-list'></ul>
      </div>
      <button class='pers-acc__out-bttn'>Log out</button>
    </div>

    {{! <div class="pers-acc__tabs-links">
        <a href="#pers-acc__content-1">Personal Data</a>
        <a href="#pers-acc__content-2">Favorite</a>
      </div> }}
  </div>
  <button
    type='button'
    class='pers-acc__close-bttn'
    data-action='close-acc-modal'
  >
  </button>
</div>