<div class="acc-modal__overlay"></div>
<div class="acc-modal__content">
    <form class="acc-modal__form">
        <ul class="acc-modal__list">
            <li class="acc-modal__item">
                <label class="acc-modal__label" for="mail">Mail:</label></br>
                <input class="acc-modal__input" type="text" id="mail" name="user_mail">
            </li>
            <li class="acc-modal__item">
                <label class="acc-modal__label" for="password">Password:</label></br>
                <input class="acc-modal__input" type="password" id="password" name="user_password">
            </li>
        </ul>
        <div class="bttn-container">
            <button class="acc-modal__submit-bttn" type="submit">Log in</button>
        </div>
        <p class="acc-modal__logup-link"><span class="acc-modal__logup-span">Sign up</span></p>
    </form>
    <button
    type="button"
    class="acc-modal__button"
    data-action="close-acc-modal"
    >
</button>
</div>
