<div class="pers-acc__overlay"></div>
<div class="pers-acc__content">
    <div class="pers-acc__tabs">
      <div id="pers-acc__content-1">
        Содержимое 1... Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis reprehenderit reiciendis debitis architecto, quisquam tempore laboriosam possimus fugiat fuga ipsum quaerat molestiae omnis porro doloribus laborum, iste beatae a. Rem.
        <button class="pers-acc__out-bttn">Log out</button>
      </div>
      <div id="pers-acc__content-2">
        Содержимое 2... Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorem praesentium quo a! Nesciunt consequuntur minima modi itaque consequatur, nobis assumenda similique, deserunt dolore sed perferendis, repellendus quia voluptatum ipsum.
      </div>

      <div class="pers-acc__tabs-links">
        <a href="#pers-acc__content-1">Вкладка 1</a>
        <a href="#pers-acc__content-2">Вкладка 2</a>
      </div>
    </div>
    <button
    type="button"
    class="pers-acc__close-bttn"
    data-action="close-acc-modal"
    >
</button>
</div>
