<div class='title-container'>
  <h1 class='main-title'>FIND BEST EVENTS <br /> AROUND THE WORLD</h1>
</div>

<div class='form-container'>
  <form id='search-events-form'>
    <div class='input-group input-container'>
      <input
        type='text'
        name='event'
        id='input-event'
        class='input-search'
        placeholder=' '
      />
      <label class='input-search-label' for='input-event'>Start searching</label>
    </div>

    <div class='select input-group select-container'>
      <select name='country' id='input-country'>
        <option>Choose country</option>
      </select>
    </div>
  </form>
</div>