    <div class="title-container">
      <h1 class="main-title">FIND BEST EVENTS <br> AROUND THE WORLD</h1>
    </div>
    <div class="form-container">
            <form id="search-events-form">
        <div class="input-group input-container">
          <input type="text" placeholder="Start searching" name="event" id="input-event">
        </div>
        <div class="input-group select-container">
          <select name="country" id="input-country"></select>
        </div>
      </form>
    </div>