<div class="log-in__overlay"></div>
<div class="log-in__content">
    <form class="log-in__form">
        <ul class="log-in__list">
            <li class="log-in__item">
                <label class="log-in__label" for="mail">Mail:</label></br>
                <input class="log-in__input" type="text" id="logInMail" name="user_mail">
            </li>
            <li class="log-in__item">
                <label class="log-in__label" for="password">Password:</label></br>
                <input class="log-in__input" type="password" id="logInPassword" name="user_password">
            </li>
        </ul>
        <div class="bttn-container">
            <button class="log-in__submit-bttn" type="submit">Log in</button>
        </div>
        <p class="log-in__logup-link"><span class="log-in__logup-span">Sign up</span></p>
    </form>
    <button
    type="button"
    class="log-in__close-bttn"
    data-action="close-log-in"
    >
</button>
</div>