<ul class="paginator-list">
  {{#if firstPageBlock}}
  <li data-page="1">
    1
  </li>
  <li class="previous-5">
    ...
  </li>
  {{/if}}
  {{#each pagesToShow}}
  <li data-page="{{this}}">
    {{this}}
  </li>
  {{/each}}
  {{#if lastPageBlock}}
  <li class="next-5">
    ...
  </li>
  <li data-page="{{lastPage}}">
    {{lastPage}}
  </li>
  {{/if}}
</ul>