<div class="sign-up__overlay"></div>
<div class="sign-up__content">
    <form class="sign-up__form">
        <ul class="sign-up__list">
            <li class="sign-up__item">
                <label class="sign-up__label" for="mail">Mail:</label></br>
                <input class="sign-up__input" type="text" id="signUpMail" name="user_mail">
            </li>
            <li class="sign-up__item">
                <label class="sign-up__label" for="password">Password:</label></br>
                <input class="sign-up__input" type="password" id="signUpPassword" name="user_password">
            </li>
            <li class="sign-up__item-checkbox">
                <input type="checkbox" class="sign-up__checkbox" checked>
                <p class="sign-up__text">I agree to the <a href="">Terms & Conditions</a> and <br><a href="">Privacy Policy</a>.</p>
            </li>
        </ul>
        <div class="bttn-container">
        <button class="sign-up__submit-bttn" type="submit">Sign Up</button>
        </div>    
    </form>
    <button
    type="button"
    class="sign-up__close-bttn"
    data-action="close-sign-up"
    >
</button>
</div>