.pers-acc-modal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  left: 0;
  padding-top: 50px;
  z-index: 12;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(5px);
  z-index: 110;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767.5px) {
  .pers-acc__content {
    min-width: 300px;
    min-height: 400px;
    max-width: 768px;

    border-radius: 120px 0px;
  }
  .pers-acc__close-bttn {
    top: 15px;
    right: 15px;
    width: 17px;
    height: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .pers-acc__content {
    min-width: 768px;
    min-height: 450px;
    max-width: 1280px;
    border-radius: 200px 0px;
  }

  .pers-acc__close-bttn {
    top: 15px;
    right: 15px;
    width: 17px;
    height: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .pers-acc__content {
    min-width: 1280px;
    min-height: 500px;
    max-width: 1280px;
    border-radius: 200px 0px;
  }

  .pers-acc__close-bttn {
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
  }
}

.pers-acc-modal.is-open {
  opacity: 1;
  pointer-events: initial;
}

// .pers-acc__overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.8);
// }

.pers-acc__content {
  display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: #fff;
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.pers-acc__close-bttn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('./images/acc-icon/close.svg');

  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.pers-acc__close-bttn:hover,
.pers-acc__close-bttn:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.pers-acc__out-bttn {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 145px;
  height: 40px;
  background: #4c00fe;
  border-radius: 5px;
  bottom: 15px;
  left: 15px;
}

.pers-acc__tabs {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.pers-acc__tabs-links {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 15px;
  order: 0;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #e3f2fd;
  box-shadow: 0 2px 4px 0 #e3f2fd;
  border-radius: 200px 0px;
}

.pers-acc__tabs-links > a {
  display: inline-block;
  text-decoration: none;
  padding: 6px 10px;
  text-align: center;
  color: #1976d2;
}

.pers-acc__tabs-links > a:hover {
  background-color: rgba(227, 242, 253, 0.3);
}

.pers-acc__tabs > #content-1:target ~ .tabs-links > a[href='#content-1'],
.pers-acc__tabs > #content-2:target ~ .tabs-links > a[href='#content-2'],
.pers-acc__tabs > #content-3:target ~ .tabs-links > a[href='#content-3'] {
  background-color: #bbdefb;
  cursor: default;
}

.pers-acc__tabs > div:not(.pers-acc__tabs-links) {
  display: none;
  order: 1;
}
.pers-acc__tabs > div:target {
  display: block;
}
