.main-body-container {
  // position: absolute;
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and(min-width: 320px) and (max-width: 768px) {
    min-width: 320px;
    // height: 2786px;
    // left: 0px;
    // top: 364px;
    padding-left: 25px;
    padding-right: 25px;

    background-image: url(./images/body-background/noise-body-mobile.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .main-body-container {
        background-image: url(./images/body-background/noise-body-mobile@2x.png);
      }
    }
  }

  @media screen and(min-width: 768px) and (max-width: 1280px) {
    min-width: 768px;
    // height: 2582px;
    // left: 0px;
    // top: 364px;
    padding-left: 86px;
    padding-right: 87px;

    background-image: url(./images/body-background/noise-body-tablet.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .main-body-container {
        background-image: url(./images/body-background/noise-body-tablet@2x.png);
      }
    }
  }

  @media screen and(min-width: 1280px) {
    min-width: 1280px;
    // height: 1930px;
    // left: 0px;
    // top: 446px;
    padding-left: 115px;
    padding-right: 115px;

    background-image: url(./images/body-background/noise-body-descktop.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .main-body-container {
        background-image: url(./images/body-background/noise-body-descktop@2x.png);
      }
    }
  }
}
