.body {
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 768px) {
    background-position: left 0 top 364px;

    background-image: url(./images/body-background/noise-body-mobile.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .body {
        background-image: url(./images/body-background/noise-body-mobile@2x.png);
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    background-position: left 0 top 364px, center;

    background-image: url(./images/body-background/noise-body-tablet.png),
      url(./images/body-background/background-decor-768.svg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .body {
        background-image: url(./images/body-background/noise-body-tablet@2x.png);
      }
    }
  }

  @media screen and(min-width: 1280px) {
    background-position: center, center;
    background-size: cover, 1280px;
    // background-position: center, center top 100px;
    // background-size: cover, 1280px;
    background-image: url(./images/body-background/noise-body-descktop.png),
      url(./images/body-background/background-decor-1280.svg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .body {
        background-image: url(./images/body-background/noise-body-descktop@2x.png);
      }
    }
  }
}
