.body{
    position: relative;
    background-color: #0E0E0E;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 768px) {
        background-position: left 0 top 364px;

        background-image: url(./images/body-background/noise-body-mobile.png);

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            .body {
                background-image: 
                url(./images/body-background/noise-body-mobile@2x.png)
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1280px) {
        background-position: left 0 top 364px;

        background-image: url(./images/body-background/noise-body-tablet.png);

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            .body {
                background-image: 
                url(./images/body-background/noise-body-tablet@2x.png)
            }
        }
    }

    @media screen and(min-width: 1280px) {
        background-position: left 0 top 446px;

        background-image: url(./images/body-background/noise-body-descktop.png);

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            .body {
                background-image: 
                url(./images/body-background/noise-body-descktop@2x.png)
            }
        }
    }
}
