.main {
  width: 100%;
}

.container {
  margin: 0 auto;
}
.cards-holder {
  display: grid;
  list-style: none;
  margin-bottom: 60px;
}

@media screen and (min-width: 320px) {
  .main {
    margin-top: -25px;
  }
  .container {
    width: 280px;
  }
  .cards-holder {
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    grid-row-gap: 30px;
  }
}

@media screen and(min-width: 768px) and (max-width: 1279px) {
  .main {
    margin-top: -60px;
  }

  .container {
    width: 610px;
  }
  .cards-holder {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px;
    grid-row-gap: 45px;
    // margin-bottom: 60px;
  }
}

@media screen and(min-width: 1280px) {
  .main {
    margin-top: -60px;
  }

  .container {
    width: 946px;
  }
  .cards-holder {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 54px;
    grid-row-gap: 50px;
    margin-bottom: 80px;
  }
}
