.event-card {
  width: 194px;
  // height: 312px;
  color: #ffffff;
  text-align: center;
  position: relative;
  margin-bottom: 50px;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid rgba(220, 86, 197, 0.3);
    border-radius: 50px 0px;
    width: 153px;
    height: 143px;
  }
  .event-image-wrapper {
    top: 13px;
    width: 180px;
    height: 227px;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 18px;

    .event-image {
      position: absolute;
      right: 14px;
      left: -60px;
    }
  }

  .event-data-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .event-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #dc56c5;
    margin-bottom: 5px;
  }

  .event-date {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    & :not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .event-place {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    & > .fa-map-marker-alt {
      margin-right: 3px;
      font-size: 11px;
      padding-bottom: 1px;
    }
  }
}
