.cards-holder {
  position: absolute;
  display: flex;
  flex-wrap: wrap;

  @media screen and(min-width: 320px) and (max-width: 768px) {
      min-width: 280px;
      height: 2635px;
      left: 25px;
      top: 304px;
      margin-bottom: 60px;
  }

  @media screen and(min-width: 768px) and (max-width: 1280px) {
      min-width: 610px;
      height: 2454px;
      left: 85px;
      top: 304px;        
  }

  @media screen and(min-width: 1280px) {
      min-width: 946px;
      height: 1760px;
      left: 173px;
      top: 387px;
      margin-bottom: 80px;
  }
}

.event-card{
  
  @media screen and(min-width: 320px) and (max-width: 768px) {
    margin-right: 4px;
    margin-bottom: 30px;
  
    flex-basis: calc(100% / 2 - 4px);  
}

  @media screen and(min-width: 768px) and (max-width: 1280px) {
    margin-right: 13px;
    margin-bottom: 45px;

    flex-basis: calc(100% / 3 - 13px);
        
  }

  @media screen and(min-width: 1280px) {
    margin-right: 56px;
    margin-bottom: 50px;

    flex-basis: calc(100% / 4 - 56px);
  }
}