.title-container{
  display: inline-block;

    @media screen and (max-width: 768px) {
      width: 212px;
      height: 44px;

      margin-bottom: 25px;
  }

    @media screen and(min-width: 768px) and (max-width: 1280px) {
      width: 353px;
      height: 74px;

      margin-bottom: 27px;
  }
  
    @media screen and(min-width: 1280px) {
      width: 590px;
      height: 122px;
      
      margin-bottom: 52px;
  }
}

.form-container{
  margin: 0 auto;
    @media screen and (max-width: 767px) {
      width: 270px;
      height: 105px;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;   
  }

    @media screen and(min-width: 768px) and (max-width: 1280px) {
      width: 594px;
      height: 42px;
  }

    @media screen and(min-width: 1280px) {
      width: 575px;
      height: 40px;
  }
}

.search-events-form{
    @media screen and(min-width: 768px) and (max-width: 1280px) {
      display: inline-block;
      width: 594px;
      height: 42px;
  }
}

.input-group{
  display: inline-block;
}

.input-container{
  position: relative;
  width: 270px;
  height: 40px;

  background: rgba(255, 255, 255, 0.2);
  background-image: url(./images/form-decor/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 30px top 50%;

  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  // filter: blur(20px);
  
  border-radius: 20px;

    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
  }

    @media screen and(min-width: 768px) and (max-width: 1280px) {
      margin-right: 30px;
  }
  
    @media screen and(min-width: 1280px) {
      margin-right: 30px;
  }
}

#input-event{
  width: 270px;
  height: 40px;

  background: none;
  border: none;
}

.input-search-label{
  position: absolute;
  width: 122px;
  height: 20px;
  left: 30px;
  top: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #939393;
}

.select{
  width: 270px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  // filter: blur(20px);

  border-radius: 20px;
}

#input-country{
  background: none;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  width: 270px;
  height: 40px;
}

.select> select:first-child{
  padding-left: 30px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #939393;
}

  .select::after{
    content: '';
    display: block;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #939393 transparent transparent transparent;
  
    position: absolute;
    top: 50%;
    right: 30px;
    pointer-events: none;
  
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }