.paginator-list {
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    &:not(:last-child) {
      margin-right: 5px;
    }

    &.current {
      color: #dc56c5;
      border: 1px solid #dc56c5;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: initial;
      animation: show 1.5s 1;
      animation-fill-mode: forwards;
    }
    @keyframes show {
      0% {
        opacity: 0;
        border-color: transparent;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
        border-color: #dc56c5;
      }
    }
  }
}